.bar {
  background: transparent;
}

.actions {
  background: transparent;
}

.menu_btn {
  color: $red;
  &:hover {
    background-color: $crust;
  }
  &:active {
    background-color: $crust;
  }
}

.workspaces {
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0 0.5rem;
    background-color: $mantle;
}
.workspace {
    border-radius: 1rem;
    background-color: $base;
    margin: 0 0.25rem;
    padding: 0 0.8rem;
    transition: 0.3s;

    &.current {
        background-color: $green;
        padding: 0 1.5rem;
    }
}
.workspace:hover {
    background-color: mix($red, $crust, 70%);
    &.current {
        background-color: mix($red, $crust, 70%);
    }
}

.cpu {
  color: $peach;
}

.ram {
  color: $red;
}

.disk {
  color: $green;
}

.workspace_btn {
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  background-color: $surface0;
  color: $subtext1;
  transition: all 0.2s ease;
  &:hover {
    background-color: $surface2;
    color: $text;
  }
  &:active {
    background-color: $green;
    color: $mantle;
  }
}

.time {
  color: $sapphire;
}

.tray_box {
    min-width: 10rem;
    min-height: 1.5rem;
}

.tray_button {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.tray_button:hover {
    background-color: mix($mantle, $red, 70%);
}

tooltip {
    background-color: $crust;
    color: $red;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $crust;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $red;
    font-size: 1.1rem;
}

menu>menuitem {
    padding: 0.5rem 1rem;
    transition: 0.3s;
    border-radius: 1rem;
}

menu>menuitem:hover {
    background-color: mix($crust, $red, 70%);
}

.powermenu_btn {
  color: $red;
  border-radius: 1rem;
  font-size: 1rem;
  &:hover {
    background-color: $crust;
  }
  &:active {
    background-color: $crust;
  }
}
